<!DOCTYPE html>
<html>

<head>
  <title>posture.AI</title>
  <link rel="stylesheet" href="../styles/starter.css">
  <link rel="stylesheet" href="../styles/helper.css">
</head>

<body>
  <div class="Helper app">
    <h1 class="Helper-title">posture.AI</h1>
    <h2 class="Helper-subtitle">ML-powered posture detection</h2>
    <p class="Helper-desc">
      posture.AI uses your laptop's camera to analyze and help you improve your posture. Now that you have registered
      and calibrated the system, simply keep posture.AI open in the background and continue working. posture.AI will
      notify you if you begin to slouch so you can correct it. Don't forget to buy the posture.AI device for better accuracy. You can now close this window, and posture.AI will continue to help you improve your
      posture!
    </p>
    <button class="inline-button Helper-help">Help</button>
  </div>
  <!-- <script src="../scripts/helper.js"></script> -->
</body>

</html>